<div class="center hero-unit">
  <h1>Welcome to the CurrencyTracker</h1>

  <h2>
    This is the home page for the CurrencyTracker sample application.
  </h2>

  <body>
  	<p>Click 'Register' if you are a new user. Existing users login.</p>
  </body>
</div>

