<h1>Listing user_sessions</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


</table>

<br />

<%= link_to 'New User session', new_user_session_path %>
